@model List<CourseVM>
@{
    var brojac = 0;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Naziv kursa</th>
            <th scope="col">Početak</th>
            <th scope="col">Kraj</th>
            <th scope="col">Bilješka</th>
            <th scope="col">CS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CourseVM x in Model)
        {
            @if (x.CourseName != null)
            {
                <tr>
                    <th scope="row"> @(++brojac)  </th>
                    <td>  @x.CourseName </td>
                    <td>  @x.Start </td>
                    <td>  @x.End </td>
                    <td>  @x.Notes </td>
                    <td>  @x.CourseSectionID </td>
                    <td>
                        <a href="/Course/Obrisi?CourseID=@x.CourseID" class="btn btn-primary">Obriši</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />

<button type="button" class="btn btn-primary" id="btn-popup">Dodaj kurs</button>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-url="@Url.Action("DodajForma","Course")" style="z-index: 1400;">
</div>


@section Scripts {
    <script type="text/javascript">

                $(document).ready(function () {

                    $("#btn-popup").click(function () {
                        event.preventDefault();
                        var url = $("#exampleModalCenter").data('url');
                        jQuery.get(url, function (data) {

                            $("#exampleModalCenter").html(data);
                            $("#exampleModalCenter").modal('show');

                        })
                    })
                });
           

    </script>
}
