<a href="@Url.Action("Home", "Dashboard", new { permission = "Admin"})" class="@Html.IsActive("Dashboard", "Home")"><i class="icon-home"></i><span>Radna ploča</span></a>
<a href="@Url.Action("Accounts","Account")" class="@Html.IsActive("Account", "Accounts")"><i class="icon-people"></i><span>Korisnički računi</span></a><!--brisanje racuna, dodjeljivanje uloga-->
<a href="@Url.Action("Index","Admin")" class="@Html.IsActive("Admin", "Index")"><i class="fa fa-star"></i><span>Korisničke permisije</span></a><!--dodavanje, editovanje i brisanje korisničkih permisija-->

<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="@Url.Action("New","Announcement")" class="dropdown-toggle @Html.IsActive("New", "Announcement") @Html.IsActive("Index", "Announcement") " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <i class="icon-notebook"></i><span>Obavijesti</span> <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a style="color:gray !important" href="@Url.Action("New","Announcement")" class="@Html.IsActive("New", "Announcement")">Nova obavijest</a></li>
            <li><a style="color:gray !important" href="@Url.Action("Index","Announcement")" class="@Html.IsActive("Index", "Announcement")">Upravljanje obavijestima</a></li>
        </ul>
    </li>
</ul>
<a href="@Url.Action("Map","Account")" class="@Html.IsActive("Account", "Map")"><i class="icon-people"></i><span>Mapa</span></a><!--brisanje racuna, dodjeljivanje uloga-->
<a href="@Url.Action("Index","InProgress")"><i class="icon-calendar"></i><span>Kalendar sesija</span></a>
<a href="@Url.Action("Index","InProgress")"><i class="icon-share-alt"></i><span>Virtualne učionice</span></a>
<a href="@Url.Action("Index","InProgress")"><i class="icon-docs"></i><span>Nastavni materijal</span></a>
<a href="@Url.Action("Index","InProgress")"><i class="icon-check"></i><span>Testovi</span></a>
<a href="@Url.Action("Index","InProgress")"><i class="icon-speech"></i><span>Prijedlozi</span></a>
<a href="@Url.Action("Index","InProgress")"><i class="icon-book-open"></i><span>Matična knjiga</span></a><!--studenti, profesori-->